<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cookbook</title>
    <%= stylesheet_link_tag 'document' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div role="document" id="doc">
      <header>
        <h1>Cookbook</h1>
      </header>
      <div>
        <%= render :partial => "shared/flash", :locals => {:flash => flash} %>
        <%= yield %>
      </div>
      <div id="sidebar">
        <% if logged_in? -%>
          <ul>
            <li><%= link_to "My Recipes", recipes_url %></li>
            <li><%= link_to "All Recipes", all_recipes_url %></li>
            <li><%= link_to "New Recipe", new_recipe_url %></li>
            <li><%= link_to "Logout", logout_url %></li>
          </ul>
        <% end -%>
      </div>
      <footer>
        <div class="credits">Copyright &copy;<%= Date.today.year %></div>
      </footer>
    </div>
  </body>
</html>
